<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/manager.css}" />
    <title>Course Manager</title>
</head>
<body>
<!--Body-->
<section layout:fragment="body">
    <div class="container">

        <!--Danh sách các môn học mà sinh viên đăng ký-->
        <h4>ĐĂNG KÝ MÔN HỌC HỌC KỲ 1 - NĂM HỌC 2023-2024</h4>

        <li class="list-group-item text-white" th:each="o :${courses}">
            <a href="course?id=${o.id}">[[${o.name}]]</a>
        </li>


        <!--Danh sách các group theo môn học-->
        <div class="table-responsive">
            <div class="table-wrapper">

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
                            <!--								<span class="custom-checkbox">
                                                                <input type="checkbox" id="selectAll">
                                                                <label for="selectAll"></label>
                                                            </span>-->
                        </th>
                        <th>Tên môn học</th>
                        <th>Nhóm</th>
                        <th>Thời gian</th>
                        <th>Tên giảng viên</th>
                        <th>Phòng</th>
                        <th>Còn lại</th>

                    </tr>
                    </thead>
                    <tbody>
<!--                    <c:forEach items="${listG}" var="o">-->
                        <tr th:each="o :${groups}">
                            <td>
                                <a onclick="a()" href="addGroupRegister?grid=${o.group_id}" >
                                    <input class="btn btn-success"  value="Add"  style="width: 60px;">
                                </a>
                            </td>
                            <td>[[${o.course.name}]]</td>
                            <td>[[${o.groupName}]]</td>
                            <td>[[${o.time}]]</td>
                            <td>[[${o.teacher.name}]]</td>
                            <td>[[${o.room}]]</td>
                            <td>[[${o.availableSlots}]]</td>


                        </tr>
<!--                    </c:forEach>-->
                    </tbody>
                </table>

            </div>
        </div>


        <!--Danh sách các group đã đăng ký-->
        <h4>Danh sách môn học đã đăng ký</h4>
        <div class="table-responsive">
            <div class="table-wrapper">

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
                        </th>
                        <th>Tên môn học</th>
                        <th>Nhóm</th>
                        <th>Thời gian</th>
                        <th>Tên giảng viên</th>
                        <th>Phòng</th>
                        <th>Thời gian đăng ký</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                    <c:forEach items="${listGR}" var="o">-->
                        <tr  th:each="o :${groupRegistrations}">
                            <td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox5" name="options[]" value="1">
									<label for="checkbox5"></label>
								</span>
                            </td>
                            <td>[[${o.group.course.name}]]</td>
                            <td>[[${o.group.groupName}]]</td>
                            <td>[[${o.group.time}]]</td>
                            <td>[[${o.group.teacher.name}]]</td>
                            <td>[[${o.group.room}]]</td>
                            <td>[[${o.time}]]</td>
                            <td>
<!--                                <a href="deleteGroupRegister?grid=${o.getGroup().group_id}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>-->
                            </td>
                        </tr>
<!--                    </c:forEach>-->
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</section>
</body>
</html>

