<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin-left: auto; /* Căn giữa bảng */
            margin-right: auto; /* Căn giữa bảng */
        }
        th, td {
            text-align: left;
            padding: 8px;
            width: 33.33%; /* Chiều rộng của mỗi cột */
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <title>Login</title>
</head>
<body class="back" style="height: 100%; padding-bottom: 300px">
<!--Body-->

<section layout:fragment="body">
    <div>
        <div id="logreg-forms">
            <div style="padding: 3px;text-align: center;background-color: #ad171c;color: white;">
                <h3>Đăng nhập</h3>
            </div>
            <form method="post" role="form" th:action="@{/login/check}" th:object="${user}">
                <div th:if="${param.fail}" class="alert alert-success">
                    Username or password is wrong!
                </div>
                <div class="form-group">
                    <label>Tên người dùng</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="SV:nva  GV:tad  Admin:admin  ...."
                            th:field="*{username}">
                </div>

                <div class="form-group">
                    <label>Mật Khẩu</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="SV:nva  GV:tad  Admin:admin  ...."
                            th:field="*{password}">
                </div>
<!--                <a th:href="@{/register}" class="btn btn-black">Register here.</a>-->
                <a href="/forget-password">Forgot password?</a>
                <button class="btn btn-danger btn-block" type="submit" ><i class="fas fa-sign-in-alt"></i>Log in</button>
            </form>

            <br>

        </div>
</div>
</section>


</body>
</html>

