<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin-left: auto; /* Căn giữa bảng */
            margin-right: auto; /* Căn giữa bảng */
        }
        th, td {
            text-align: left;
            padding: 8px;
            width: 33.33%; /* Chiều rộng của mỗi cột */
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <title>Login</title>
</head>
<body>

<!--Body-->
<section layout:fragment="body">
<!--    <div id="logreg-forms">-->
<!--        <div th:if="${param.error}" class="alert alert-success">-->
<!--            Invalid username and password.-->
<!--        </div>-->
<!--        <div th:if="${param.logout}" class="alert alert-success">-->
<!--            You have been logged out.-->
<!--        </div>-->
<!--        <div class="login-form">-->
<!--        <form class="form-signin" th:action="@{/login}" method="post">-->
<!--            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>-->
<!--            <input-->
<!--                    id="username"-->
<!--                    type="text"-->
<!--                    class="form-control"-->
<!--                    placeholder="Username"-->
<!--                    name="username">-->
<!--            <input-->
<!--                    id="password"-->
<!--                    type="password"-->
<!--                    class="form-control"-->
<!--                    placeholder="Password"-->
<!--                    name="password">-->
<!--            <div class="form-group form-check">-->
<!--                <input name="remember" value="1" type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Remember me</label>-->
<!--            </div>-->

<!--            <button class="btn btn-success btn-block" type="submit" value="Log in"><i class="fas fa-sign-in-alt"></i>Log in</button>-->
<!--            &lt;!&ndash;<hr>&ndash;&gt;-->
<!--            <a th:href="@{/register}" class="btn btn-black">Sign up here.</a>-->
<!--        </form>-->
<!--        </div>-->
<!--    </div>-->



        <div id="logreg-forms">
            <table>
                <tr>
                    <th>Vai trò</th>
                    <th>Tài khoản</th>
                    <th>Mật khẩu</th>
                </tr>
                <tr>
                    <th>Sinh viên:</th>
                    <th>nva</th>
                    <th>nva</th>
                </tr>
                <tr>
                    <th>Giảng viên:</th>
                    <th>nms</th>
                    <th>nms</th>
                </tr>
                <tr>
                    <th>Admin:</th>
                    <th>admin</th>
                    <th>admin</th>
                </tr>
            </table>
            <form method="post" role="form" th:action="@{/login/check}" th:object="${user}">
                <div th:if="${param.fail}" class="alert alert-success">
                    Username or password is wrong!
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Username"
                            th:field="*{username}">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            th:field="*{password}">
                </div>
<!--                <a th:href="@{/register}" class="btn btn-black">Register here.</a>-->
                <a href="/forget-password">Forgot password?</a>
                <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Log in</button>
            </form>

            <br>

        </div>

</section>


</body>
</html>

