<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

    <title>Login</title>
</head>
<body class="back">

<!--Body-->
<section layout:fragment="body">


    <div id="logreg-forms">
        <div style="background-color: #ad171c;color: white; padding: 5px;text-align: center">
            <h4>Thay đổi mật khẩu</h4>
        </div>
        <form method="post" role="form" th:action="@{/reset-password/check}" th:object="${user}">
            <div th:if="${param.fail}" class="alert alert-success">
                Something is wrong!
            </div>
            <div class="form-group">
                <label>OTP</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="otp"
                        th:field="*{otp}">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Username"
                        th:field="*{username}">
            </div>

            <div class="form-group">
                <label>New password</label>
                <input
                        type="password"
                        class="form-control"
                        placeholder="New password"
                        th:field="*{password}">
            </div>
            <!--                <a th:href="@{/register}" class="btn btn-black">Register here.</a>-->
            <button class="btn btn-danger btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Log in</button>
        </form>

        <br>

    </div>

</section>


</body>
</html>

