<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<!--    <style>-->

<!--        .align-middle {-->
<!--            background-color: #ad171c;-->
<!--            color: white;-->
<!--        }-->
<!--    </style>-->
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/manager.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/timetable.css}" />
    <title>Course Manager</title>
</head>
<body>

<!--Body-->
<section layout:fragment="body">
    <div class="container">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center" style="min-height: 400px">
                <thead>
                <tr class="bg-light-gray" style="background-color: #ad171c; color: white">
                    <th class="text-uppercase"></th>
                    <th class="text-uppercase">Thứ hai</th>
                    <th class="text-uppercase">Thứ ba</th>
                    <th class="text-uppercase">Thứ tư</th>
                    <th class="text-uppercase">Thứ năm</th>
                    <th class="text-uppercase">Thứ sáu</th>
                    <th class="text-uppercase">Thứ bảy</th>
                    <th class="text-uppercase">Chủ nhật</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${#numbers.sequence(1, 5)}">
                    <!-- Các điều kiện cho giờ -->
                    <td class="align-middle" th:if="${row==1}">07:00</td>
                    <td class="align-middle" th:if="${row==2}">09:00</td>
                    <td class="align-middle" th:if="${row==3}">12:00</td>
                    <td class="align-middle" th:if="${row==4}">14:00</td>
                    <td class="align-middle" th:if="${row==5}">16:00</td>

                    <!-- Vòng lặp từ 1 đến 7 -->
                    <th:block th:each="col : ${#numbers.sequence(1, 7)}">
                        <td th:if="${b[row][col + 1] == null}" style="width: 110px;"></td>
                        <td th:if="${b[row][col + 1] != null}" class="bg-light-gray" style="width: 170px;">
                            <span style="padding: 5px;" class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
                                  th:text="${b[row][col + 1].course.name}"></span>
                            <div class="font-size14" th:text="'Giảng viên: ' + ${b[row][col + 1].teacher.getName()}"></div>
                            <div class="font-size14" th:text="'Phòng: ' + ${b[row][col + 1].room}"></div>
                        </td>
                    </th:block>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</section>


</body>
</html>

