<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>PTIT</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
</head>
<body>

<!--Body-->
<section layout:fragment="body">
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>Xem học phí</h4>

                        </div>

                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Niên học học kỳ</th>
                        <th>Số tín chỉ</th>
                        <th>Học phí</th>
                        <th>Đã thu</th>
                        <th>Còn nợ</th>


                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="o :${listT}">
                        <td></td>
                        <td>[[${o.term}]]</td>
                        <td>[[${o.total_credit}]]</td>
                        <td>[[${o.tuition}]]</td>
                        <td>[[${o.tuition}]]</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><h5>Tổng cộng</h5></td>
                        <td>[[${total_credit}]]</td>
                        <td>[[${total_tuition}]]</td>
                        <td>[[${total_tuition}]]</td>
                        <td>0</td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>


</section>


</body>
</html>

